*  
  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body{
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.container-headline {
  text-align: center;
  margin: 1.5rem 0.5rem;
}
